<link rel="stylesheet" href="{{ asset('bundles/app/bootstrap/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}" />
<script src="{{ asset('bundles/app/bootstrap/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/app/bootstrap/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/app/bootstrap/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/bootstrap.js') }}"></script>

<h3>Formulaire pour etudiant</h3>

<div class="well">
  {{ form(form) }}
</div>