{% extends 'base.html.twig' %}

{% block body %}

<link rel="stylesheet" href="{{ asset('bundles/app/bootstrap/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}" />
<script src="{{ asset('bundles/app/bootstrap/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/app/bootstrap/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
    <h1>Modifier Etudiant</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('students_list') }}">Retourner à la liste des étudiants</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
